In [24]:
import json
import datetime
import pandas as pd
from urllib.request import urlopen

### Using Basic Python

In [25]:
response = urlopen("https://healthdata.gov/resource/j8mb-icvb.json?$limit=200000&$order=date%20DESC")
jsonData = response.read().decode('utf-8','replace')
file = json.loads(jsonData)
df = pd.DataFrame(pd.json_normalize(file))
df

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported
0,AZ,Arizona,04,Region 9,Inconclusive,2023-05-20T00:00:00.000,0,28214
1,AZ,Arizona,04,Region 9,Negative,2023-05-20T00:00:00.000,39,14083765
2,AZ,Arizona,04,Region 9,Positive,2023-05-20T00:00:00.000,0,2222676
3,AR,Arkansas,05,Region 6,Inconclusive,2023-05-20T00:00:00.000,0,10479
4,AR,Arkansas,05,Region 6,Negative,2023-05-20T00:00:00.000,469,4828792
...,...,...,...,...,...,...,...,...
191272,SC,South Carolina,45,Region 4,Positive,2020-03-01T00:00:00.000,4,4
191273,TN,Tennessee,47,Region 4,Negative,2020-03-01T00:00:00.000,1,1
191274,WA,Washington,53,Region 10,Inconclusive,2020-03-01T00:00:00.000,1,1
191275,WA,Washington,53,Region 10,Negative,2020-03-01T00:00:00.000,26,26
191276,WA,Washington,53,Region 10,Positive,2020-03-01T00:00:00.000,28,28

### Using Panda Library

In [26]:
# Dataset is always a day behind, hence we always get data as of yesterday
# Still, Keeping the date dynamic:
today = pd.Timestamp("today").strftime("%Y-%m-%dT00:00:00.000")
today

'2023-05-23T00:00:00.000'

In [27]:
# Forming a url query to get data as of Yesterday (aka date<today)
url = f'https://healthdata.gov/resource/j8mb-icvb.json?$where=date<\"{today}\"&$limit=200000&$order=date%20DESC'
url

'https://healthdata.gov/resource/j8mb-icvb.json?$where=date<"2023-05-23T00:00:00.000"&$limit=200000&$order=date%20DESC'

In [4]:
# Obtaining the dataset
df = pd.read_json(url)
df

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported
0,DC,District of Columbia,11,Region 3,Inconclusive,2023-05-18,0,14712
1,DC,District of Columbia,11,Region 3,Negative,2023-05-18,135,5561438
2,DC,District of Columbia,11,Region 3,Positive,2023-05-18,2,287782
3,IL,Illinois,17,Region 5,Inconclusive,2023-05-18,0,106548
4,IL,Illinois,17,Region 5,Negative,2023-05-18,200,52554836
...,...,...,...,...,...,...,...,...
190873,SC,South Carolina,45,Region 4,Positive,2020-03-01,4,4
190874,TN,Tennessee,47,Region 4,Negative,2020-03-01,1,1
190875,WA,Washington,53,Region 10,Inconclusive,2020-03-01,1,1
190876,WA,Washington,53,Region 10,Negative,2020-03-01,26,26
190877,WA,Washington,53,Region 10,Positive,2020-03-01,28,28

In [7]:
# basic analysis on number of unique dates in the total dataset 
df.groupby('date').size()

date
2020-03-01T00:00:00.000     25
2020-03-02T00:00:00.000     42
2020-03-03T00:00:00.000     52
2020-03-04T00:00:00.000     60
2020-03-05T00:00:00.000     67
                          ...
2023-05-16T00:00:00.000    135
2023-05-17T00:00:00.000    135
2023-05-18T00:00:00.000    132
2023-05-19T00:00:00.000    114
2023-05-20T00:00:00.000     99
Length: 1176, dtype: int64

In [8]:
# Since the query already gets the data in descending order,
# For a given state, say DC, the following gets the latest values 
dc = df.loc[df.state == 'DC'].head(3)
dc

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported
9,DC,District of Columbia,11,Region 3,Inconclusive,2023-05-20T00:00:00.000,0,14712
10,DC,District of Columbia,11,Region 3,Negative,2023-05-20T00:00:00.000,159,5562367
11,DC,District of Columbia,11,Region 3,Positive,2023-05-20T00:00:00.000,9,287815

In [10]:
# To get the total PCR tests for a given state, all the latest values of 'total_results_reported' need to be added up
dc['total_results_reported'].sum()

'147125562367287815'

In [11]:
# There are 56 unique states listed in the data set 
df.state.unique()

array(['AZ', 'AR', 'DE', 'DC', 'GA', 'ID', 'IL', 'KS', 'KY', 'LA', 'ME',
       'MI', 'MN', 'MS', 'NE', 'NH', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR',
       'PA', 'PR', 'RI', 'SC', 'SD', 'UT', 'VT', 'VA', 'WV', 'WI', 'WY',
       'AK', 'GU', 'MD', 'MA', 'TX', 'HI', 'MT', 'NV', 'TN', 'VI', 'WA',
       'IN', 'CA', 'CO', 'NJ', 'FL', 'CT', 'MO', 'NM', 'AL', 'IA', 'MH',
       'MP'], dtype=object)

In [23]:
# The total number of PCR tests performed as of yesterday in the United States.
# To get the total PCR tests for ALL the states, all the latest values of 'total_results_reported' need to be added up
totalPCRTests = 0
stateCount = 0
for state in df.state.unique():
    allStates = df.loc[df.state == state].head(3)
    allStates['total_results_reported'] = allStates['total_results_reported'].astype(int)
    totalPCRTests = totalPCRTests + allStates['total_results_reported'].sum()
    stateCount = stateCount + 1
print(f'For {stateCount} states, the Total PCR tests performed as of yesterday = {totalPCRTests}')

For 56 states, the Total PCR tests performed as of yesterday = 1043334998

## All the above code in a single block

In [10]:
import datetime
import pandas as pd


# Dataset is always a day behind, hence we always get data as of yesterday
# Still, Keeping the date dynamic:
today = pd.Timestamp("today").strftime("%Y-%m-%dT00:00:00.000")

# Forming a url query to get data as of Yesterday (aka date<today)
url = f'https://healthdata.gov/resource/j8mb-icvb.json?$where=date<\"{today}\"&$limit=200000&$order=date%20DESC'
# Obtaining the dataset
df = pd.read_json(url)

# The total number of PCR tests performed as of yesterday in the United States.
# To get the total PCR tests for ALL the states, all the latest values of 'total_results_reported' need to be added up
totalPCRTests = 0
stateCount = 0
for state in df.state.unique():
    allStates = df.loc[df.state == state].head(3)
    totalPCRTests = totalPCRTests + allStates['total_results_reported'].sum()
    stateCount = stateCount + 1

#Just a couple of output statements to hit it home
print('The total number of PCR tests performed as of yesterday in the United States')
print(f'For {stateCount} states, the Total PCR tests performed as of yesterday = {totalPCRTests}')

The total number of PCR tests performed as of yesterday in the United States
For 56 states, the Total PCR tests performed as of yesterday = 1043220332